{% extends 'base.html' %}
{% block title %} Поиск {% endblock %}
{% block content %}

<div class="search">
<h1>Введите айди сообщества:</h1>
<form method="get">
    <p>
        <input type="text" name="title" size="50"
                placeholder=' например: "dodo", "53484080"' >
    </p>

    {% if error == 'no_title' %}<p class="error">Введите айди сообщества.</p>{% endif %}
    {% if error == 'access_denied' %}<p class="error">Отсутствует информация об участниках сообщества</p>{% endif %}
    {% if error == 'wrong_name' %}<p class="error">Айди введён неправильно или такого сообщества не существует, попробуйте снова</p>{% endif %}

    <p>Внимание! после нажатия на кнопку нужно будет немного подождать (около минутки)</p>
    <p>
        <button type="submit" class="btn btn-outline-secondary" onclick='document.querySelector(".loader").style.display = "flex"; document.querySelector(".search").style.display = "none"; return true;'>Submit</button>
    </p>
</form>
</div>
{% endblock %}
